body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeeee;
}

.nav-link{
    color: #4B4B4B !important;
    text-transform: uppercase;
    
}
.active{
    text-decoration: underline;
    font-weight: bold;
}
.nav-item{
    width: 250px;
    text-align: center;
    font-size: 20px;
}
.navbar  {
    padding: 0 7%;
    margin-top: 15px;
}


.navbar-toggler-icon{
    border: 1px solid #797676;
    border-radius: 3px;
    
}
.img2 {
    background-image: url("../images/fondomenu.png");
    background-repeat: repeat;
    background-size: 100%;
    padding-bottom: 0px;
}


#home span{
    font-weight: 800;
    font-size: 55px;
    padding-bottom: 20px;
    color: rgb(45, 45, 45);

}



#home h1 {
    font-weight: 800;
    font-size: 55px;
    padding-bottom: 20px;
    color: rgb(45, 45, 45);
}
#home h2{
    text-transform: uppercase;
    font-size: 20px;
    margin: 25px 10px;
}

#home a{
    margin-bottom: 40px;
}

#sobremi h1{
    font-size: 55px;
    color: rgb(45, 45, 45);
    font-weight: 800;
    

}

#sobremi p{
    color: rgb(45, 45, 45);
    font-weight: 600;
    font-size: 20px;
}
#sobremi a {
    margin-top: 30px;
}

#experiencia h2 {
    font-size: 22px;

}
#experiencia h3 {
    font-size: 22px;

}
#experiencia {
    background-color: rgb(45, 45, 45);
    color: white;
}
/*habilidades*/
.habilidades{
    background-color: #ededed;

}
.habilidadesCard {
    
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}


   
.habilidadesCard i{
    color: #fff;
    background-color: #2d2d2d;
    padding: 20px;
    font-size: 62px;
    margin-bottom: 15px;
}
.habilidades h2 h3 h4 h5{
    margin-top: 18px;
}



#proyecto .cuadro-proyecto{
    background-color: white;
}

#proyecto img {
    height: 260px;
    width: 100%;
}
#proyecto p{
    color: rgb(96, 96, 96);
}
#contacto h1,#contacto p{
    font-weight: 700;
}
#contacto h1{
    font-size: 55px;
    padding-bottom: 20px;
   
}
#contacto p {
    font-size: 30px;
}
#contacto {
    margin: 68px 0;
}

#contacto input[type=text], #contacto input[type=email], #contacto textarea{
    background-color: #eeeeee;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 6px 12px;
   
}

#contacto form{
    margin-top: 60px;
}

.text-center{
    text-align: center!important;
}
.btn {
     background-color: black;
     color: white;
     border-radius: 0px;
}
#contacto input[type=submit] {
    width: 130px;
    height: 35px;
}
#contacto i{
    font-size: 90px;
}
.btn:hover{
    background-color: white;
    color: black;
}
footer{
    background-color: white;
    color: black;
    
    

}
footer a{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}


.borde {
    font-size: 35px;
    border: 1px solid;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 15px
}
@media (max-width: 900px){
    #contacto h1{
        font-size: 45px;
       
    }
    #contacto p {
        font-size: 20px;
    }

    #home h1, h2{
        font-size: 45px;
    }
    #home span{
        font-size: 45px;
    }
    #footer{
        display: none;
    }
    .habilidadesCard h2{
        font-size: 20px;

    }
    #proyecto h1{
        font-size: 20px;
       
    }
    #proyecto h2{
        font-size: 25px;
       
    }
  

}
@media (min-width: 900px){
    #footer2{
        display: none;
        
        
    }

}

#footer2{
    text-align: center;
    font-size: 45px;
    margin-top: 122px;
    
}






    
  

